{
	"useTabs": true,
	"tabWidth": 1,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 100,
	"semi": true,
	"jsxSingleQuote": false,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"endOfLine": "lf"
}
# Copyright (c) 2025 KazuakiTakahashi
# All rights reserved.
